@import "../../styles/variables.scss";
.carousel {
  cursor: grab;
  overflow: hidden;
  .innerCarousel {
    display: flex;

    .item {
      border: 5px solid rgba($yellow,0.1);
      min-width: 300px;
      aspect-ratio: 1/0.5;
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        // width: 80%;
        pointer-events: none;
        // aspect-ratio: 1/2;
        // object-fit: cover;
      }
    }
  }
}
